<footer>
  <a href=""><img src="./assets/images/logo.png" alt=""></a>
    <ul>
      <li><a href="https://www.instagram.com/automaticabanda/" target="blank"><i class="fa fa-instagram" ></i> automaticabanda</a></li>
      <li><a href="https://www.facebook.com/automaticauy" target="blank"><i class="fa fa-facebook-square" ></i> automaticauy</a></li>
      <li><a href="https://twitter.com/automaticabanda/" target="blank"><i class="fa fa-twitter-square"></i> @automaticabanda</a></li>
      <li><i class="fa fa-phone-square"></i> +598 97998466</li>
    </ul>
</footer>
