@import "breakpoints";

footer {
  background: rgba(0, 0, 0, 0.87);
  height: auto;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 10px 20px;

  img {
    width: 50%;
    height: auto;
  }
  ul{
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 10px;
    li {
display: inline-flex;
    }
  }
}
