@import "breakpoints";

.row {
  margin-bottom: 10px;
}

div.menu{
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-bottom: 20px;

  @include xs {
    font-size: 10px;
  }



  a{  padding: 15px;
  }
}
