@import "breakpoints";

video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.overlay {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.row {
  margin-bottom: 10px;
}

div.menu {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 20px;

@include ltesm {
  font-size: 1rem;
}

  @include xs {
    font-size: 12px;
  }

  a {
    padding: 15px;
    width: 100%;
    cursor: pointer;
    @include xs {
      padding: 15px 5px;
    }
  }



  :hover {
    background-color: white;
    color: black;
  }

  :active {
    background-color: white;
    color: white;
  }
}
