@import "breakpoints";


div.container {
  margin-top: 30px;
  margin-bottom: 30px;



  .row {
    margin-bottom: 10px;
    @include xs {
      display: flex;
      flex-direction: column;
      width: 100%;
      --bs-gutter-x: 0;
      margin-bottom: 0;
      .col-6 {
        @include xs {
          width: 100%;
        }

      }

      app-card {
        @include xs {
          margin-bottom: 10px;
        }
      }
    }
  }}
div.menu{
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  min-height: 60px;

  @include xs {
    font-size: 10px;
  }



  a{  padding: 15px;
  }
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.overlay {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba($color: #000000, $alpha: 0.8);
}
