<app-banner imgUrl="./assets/images/banner-main.jpg"></app-banner>
<div class="menu">


</div>
<div class="overlay"></div>

<video src="./assets/video/Automatica_prensa_2018_1_compressed.mp4" autoplay [muted]="'muted'" loop>
</video>
<div class="container">
  <div class="row">
    <app-card class="col-6" cardImg="./assets/images/info-page/1.jpg"></app-card>
    <app-card-txt class="col-6" cardTxt="Automática es una banda de rock de Montevideo, Uruguay, fundada a fines de 2012 por
    Esteban “Mancuso” Montaño (Voz, guitarra).

    La banda se completa con las incorporaciones de
    Enrique “Garza” Sosa (Bajo,coros),
   Santiago Aliceio (Guitarra,coros)
   y Gustavo “Pitu” Tort (Batería).

   Su propuesta musical es la fusión de diversos estilos
   de rock, logrando una identidad propia.">
    </app-card-txt>

  </div>

  <app-card-txt cardTxt="Automática debutó el 30 de marzo de 2014 en la Sala Experimental de Malvín y ha tenido buena presencia en medios de comunicación tales como La Mañana y
  Ponete cómodo (canal TNU), Blister (canal TV Ciudad), Observa TV, Día a Día (canal VTV),
  Sábado Show (diario el País) , Que Vida (diario La Republica) Suena Tremendo (radio El
  Espectador), Rock Boulevard (radio Futura),
  radio M24, Carve, Océano FM, Bandas del Sur,
  La Cuchara (radio Emisora del Sur), Rock&Gol
  (R. Moar), Radio Maldonado, Radio El
  Paso Bar, (Córdoba, Arg), diario El País, La
  República, portales web como Montevideo
  Comm, Observa.com, El país digital,
  Flashes (Uru), Rock al poder de (España),
  Yamp, entre otros."></app-card-txt>
  <app-info-banner imgUrl="./assets/images/info-page/2.png"></app-info-banner>



  <div class="row">

    <app-card-txt class="col-6"
      cardTxt="Donde Estás, su primer disco, fue editado en 2013 por el sello MMG (Montevideo Music Group) en formato físico y RGS Music
    (Arg) en formato digital para las tiendas iTunes y Amazón Argentina.


    En Donde Estás oímos una banda madurando rápidamente, generando en cada canción un clima particular en el cual sumergirse.

    Cada sonido transmite su intención con un impulso crudo y libre. Su primer video clip Supernova impone el estilo de una banda diferente.
    La banda fue nominada a los Premios Graffiti 2014, en la categoría “Mejor Disco de Rock y Blues” por su primer disco.">
    </app-card-txt>
    <app-card class="col-6" cardImg="./assets/images/info-page/3.png"></app-card>
  </div>

  <app-card-txt cardTxt="En abril del 2017 la banda llega a
  los estudios Vivace Music para registrar su segundo disco, Oscuro Elíxir,
  bajo la producción de Jorge Nasser.
  Un álbum que se desmarca de su
  predecesor en varios sentidos. El
  nuevo sonido apuesta a lo analógico
  y orgánico, sin filtros.
  Oscuro elíxir (MMG, 2017) fue
  grabado entre abril y mayo de 2017
  por Nicolás Bellinzona en los estudios Vivace Music de Montevideo,
  Uruguay. Asistencia técnica adicional: Pablo Pato Dana. Tomas adicionales en Della Montagne y The
  Garza´s Loft."></app-card-txt>
  <app-info-banner imgUrl="./assets/images/info-page/4.png"></app-info-banner>


  <div class="row">

    <app-card class="col-6" cardImg="./assets/images/info-page/5.png"></app-card>
    <app-card-txt class="col-6"
    cardTxt="En el marco de la gira presentación de “Oscuro Elíxir”, la banda se presentó en el Festival Internacional de música independiente Fluvial en su edición 2018 en la ciudad de Valdivia (Chile) y en el Durazno Rock 2019 junto a Trostky Vengarán, Snake; Ratones Paranoicos y Once Tiros, entre otros.">
  </app-card-txt>
</div>


<div class="row">

  <app-info-banner imgUrl="./assets/images/info-page/6.png"></app-info-banner>
  <app-card-txt class="col-6"

    cardTxt="En Octubre de 2018 MMG edita en
    exclusivo para Spotify el EP en vivo
    “Satélites” que recoge buena parte
    de la presentación de la banda en el
    Planetario Municipal de Montevideo.">
  </app-card-txt>

  <app-card class="col-6" cardImg="./assets/images/info-page/8.png"></app-card>
  </div>

  <app-info-banner imgUrl="./assets/images/info-page/7.png"></app-info-banner>

</div>
