<app-banner imgUrl="./assets/images/banner-main.jpg"></app-banner>
<div class="container">
  <div class="row">
    <app-card class="col-6" cardImg="./assets/images/info-page/1.jpg"></app-card>}
    <app-card-txt class="col-6" cardTxt="Automática es una banda de rock de Montevideo, Uruguay, fundada a fines de 2012 por
    Esteban “Mancuso” Montaño (Voz, guitarra).

    La banda se completa con las incorporaciones de
    Enrique “Garza” Sosa (Bajo,coros),
   Santiago Aliceio (Guitarra,coros)
   y Gustavo “Pitu” Tort (Batería).

   Su propuesta musical es la fusión de diversos estilos
   de rock, logrando una identidad propia.">
  </app-card-txt>
  </div>

  <app-card-txt cardTxt="Automática debutó el 30 de marzo de 2014 en la Sala Experimental de Malvín y ha tenido buena presencia en medios de comunicación tales como La Mañana y
  Ponete cómodo (canal TNU), Blister (canal TV Ciudad), Observa TV, Día a Día (canal VTV),
  Sábado Show (diario el País) , Que Vida (diario La Republica) Suena Tremendo (radio El
  Espectador), Rock Boulevard (radio Futura),
  radio M24, Carve, Océano FM, Bandas del Sur,
  La Cuchara (radio Emisora del Sur), Rock&Gol
  (R. Moar), Radio Maldonado, Radio El
  Paso Bar, (Córdoba, Arg), diario El País, La
  República, portales web como Montevideo
  Comm, Observa.com, El país digital,
  Flashes (Uru), Rock al poder de (España),
  Yamp, entre otros."></app-card-txt>

  <app-info-banner imgUrl="./assets/images/info-page/2.png"></app-info-banner>
</div>
