@import "breakpoints";
header {
  align-items: center;
  background: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 99999;
  width: 100%;
  a {
    cursor: pointer;
  }

  i {
    font-size: 25px;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    color: white;
    :visited {
      max-height: 30px;
      color: inherit;
    }

    img {
      width: 100%;
      max-height: 50px;



    }
  }

div.mat-menu {
  @include gtemd {
    display: none;
  }

}

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    font-size: 26px;

    @include ltesm {
      display: none;
    }

@include sm {
  font-size: 20px;
}

    @include xs {
      font-size: 10px;
    }
  }
  li {
    margin-left: 15px;

    @include sm {
      margin-left: 10px;
    }

    @include xs {
      margin-left: 5px;
    }
  }
}
div.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;

  a{
    height: auto;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 100%;
  }
}



::ng-deep .mat-menu-content  {
  background: black;
}
