<header>
  <a href=""><img src="./assets/images/logo.png" alt=""></a>
  <ul>
    <li><a href="/banda?integrante=1"> INTEGRANTES</a></li>
    <li><a href="/album?album=1"> DISCOGRAFÍA</a></li>
    <li><a href="/info"> INFO</a></li>

  </ul>
  <div class="mat-menu">
    <a mat-button [matMenuTriggerFor]="menu"><i class="fa fa-bars"></i></a>
    <mat-menu #menu="matMenu" xPosition="after" class="menu-bg" >
      <div class="buttons">
        <a href="/banda?integrante=1"> INTEGRANTES</a>
        <a href="/album?album=1"> DISCOGRAFÍA</a>
        <a href="/info"> INFO</a>
      </div>
    </mat-menu>

  </div>
</header>
