@import "breakpoints";

div.card {
  justify-content: center;
  min-height: 100%;
  border-radius: 0;
  font-size: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: justify;
  line-height: 2em;

@include md {
  font-size: 1.75rem;
}

  @include sm {
    font-size: 1rem;
  }

  @include xs {
    font-size: 1rem;
  }

  p {
    margin: 0;

    @include xs {
      line-height: auto;
    }

  }

}
