html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family:'Rationale' , sans-serif;
a {
  font-family:'Rationale' , sans-serif;

}
p{
  font-family:'Rationale' , sans-serif;

}
}
body {
  display: flex;
  background: url(./assets/images/bg/fondo.jpg) top center;
  background-repeat: round;
  app-root {
    flex: 1;
  }
}

html, body { height: 100%;

body { margin: 0; }
}
