html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family:'Rationale' , sans-serif;
  display: flex;
  background: url(./assets/images/bg/fondo.jpg) top center;
  background-repeat: round;
  app-root {
    flex: 1;
  }
}
